[project]
name = "lyricsadapter"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "mutagen>=1.47.0",
    "requests>=2.32.5",
]
